[phases.build]
cmds = [
    "npm ci",
    "npm run build",
    "composer install --optimize-autoloader --no-dev --no-interaction",
    "php artisan config:cache",
    "php artisan route:cache",
    "php artisan view:cache"
]

