[build]
builder = "nixpacks"

[deploy]
startCommand = "sh -c 'echo \"PORT defined as: $PORT\" && php artisan migrate --force && php artisan serve --host=0.0.0.0 --port=$PORT'"
healthcheckPath = "/health"
healthcheckTimeout = 300
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10
